---
interface Props {
    title: string
    img: string
    items: string
    price: number
    id: string
}

const title = Astro.props.title
const image = Astro.props.img
const items = Astro.props.items
const price = Astro.props.price
const id = Astro.props.id
---

<div class="Main" id={id}>
    <div class="Container">
        <div class="Img-container">
            <img src={image} alt="">
        </div>
        <p class="Title">{title}</p>
    </div>
    <div class="Texts">
        <p>${price}</p>
        <h2>Stock {items}</h2>
    </div>
    
</div>

<style>
    .Main {
        background-color: rgb(221, 221, 221);
        padding: 10px;
    }

    .Main:hover {
        opacity: .8;
        cursor: pointer;
    }

    .Title {
        font-size: 16px;
        font-weight: 600;
    }

    .Texts {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .Texts p {
        font-weight: 500;
        font-size: 24px;
    }

    img {
        width: 100%;
        background-color: white;
        object-fit: cover;
        padding: 10px;
    }

    .Img-container {
        background-color: white;
    }

</style>